@define-color background transparent;
@define-color foreground #cdd6f4;
@define-color color1 #7E99A3;
@define-color color2 #A5BFCC;
@define-color font #A5BFCC;
@define-color hover #DFF2EB;

* {
    font-size:15px;
    font-family:JetBrains Mono;
}
window#waybar{
    all:unset;
    background-color: transparent;

}
.modules-left, .modules-center , .modules-right {
    margin-top: 0px;
    margin-bottom: -10px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}
.modules-left {
    padding:10px;
}
.modules-center {
    padding:10px;
    min-width: 150.5px;
}
.modules-right {
    padding:10px;
}
tooltip {
    color: @font;
}
#custom-alacritty:hover , #custom-control:hover , #custom-gimp:hover , #custom-nemo:hover , #custom-code:hover , #custom-code:hover , #custom-zen:hover , #clock:hover,#bluetooth:hover,#network:hover, #custom-cpu:hover,#custom-memory:hover,#custom-gpu:hover , #custom-colorpicker:hover , #custom-power:hover , #wireplumber:hover{
    transition: all .3s ease;
    color:@hover;
}


#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    margin: 0px 3px;    
    padding: 0px 2px;
    color:rgba(0,0,0,0);
    background: @color2;
    border-radius: 50%;
    transition: all .3s;
    min-width: 15px;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    background: @color1;
}
#workspaces button.active {
    border: none;
    padding: 0px 2px;
    border-radius:10px;
    background: @color1;
    min-width: 30px;
}


#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color: @font;
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:@hover
}

#custom-colorpicker , #custom-cpu,#custom-memory,#custom-gpu , #wireplumber , #bluetooth , #network , #battery , #clock , #custom-alacritty , #custom-control , #custom-gimp , #custom-nemo , #custom-code , #custom-zen, #custom-power, #hyprland-language{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@font;

}
#battery.power {
  color: #A5BFCC;
}
#hyprland-language{
  color:@font;
  background:@font;
}

#hyprland-language.us {
  background: @font;
  color: @font;
}

#custom-endpoint{
    color:transparent;

}
